body {
  margin: 0;
  background: black;
  font-family: 'Crimson Text', serif;
}

/* -- HEADER + GENERAL -- */

.header, .footer {
  background-color: black;
  height: 60px;
  display: flex;
  padding-left: 10px;
  align-items: center;
  justify-content: space-between;
}

.header-text, .footer-text {
  color: white;
  font-size: 30px;
  float: left;
}

.header-btn {
  color: white;
  float: right;
  padding-right: 20px;
}

.container {
  margin: 0 auto;
  background-color: white;
  padding-bottom: 80px;
}

.parallax-window {
  min-height: 720px;
  background: transparent;
}

.body-header, .subtitle {
  padding: 0px 250px;
  font-size: 24px;
  display: flex;
}

.text-container h1, .text-container h6 {
  margin-bottom: 0px;
}

/* --- BUTTON --- */

a.header-btn-a {
  display: inline-block;
  padding: 0.35em 1.2em;
  border: 0.1em solid white;
  border-radius: 0.12em;
  box-sizing: border-box;
  text-decoration: none;
  font-weight: 300;
  color: white;
  text-align: center;
  transition: all 0.2s;
}

a.header-btn-a:hover {
  color: black;
  background-color: white;
}

@media all and (max-width:30em) {
    a.header-btn-a {
    display: block;
    margin: 0.4em auto;
  }
}

/* -- CONTACT -- */

.linkedin-icon {
  height: 50px;
  width: 50px;
}

.github-icon {
  height: 34px;
  width: 34px;
  margin-top: 7px;
}

.email-icon {
  height: 32px;
  width: 32px;
  margin-top: 8px;
  margin-left: 10px;
}

div.text-container-2 {
  margin-top: 10px;
}

/* --- BODY INFO --- */

div.body-info {
  display: flex;
  padding: 0px 250px;
}

.body-info div {
  float: left;
  width: 33%;
}

div.container::after {
  content: "";
  display: block;
  clear: both;
}

h5, .body-info {
  font-family: 'Work Sans', sans-serif;
}

h6 {
  font-size: 16px;
}

ul {
  padding-left: 0;
}

li {
  list-style: none;
  margin: 4px 0px;
  padding: 4px;
}

li::before {
  content: '\00BB';
  margin-right: 4px;
}

div.body-info-list {
  margin-right: 10px;
}

/* -- FOOTER -- */

.footer {
  height: 30px;
  background-color: black;
}

.footer-text {
  font-size: 18px;
}
